.block-basket-header {
  padding: 30px 30px 0px 30px;
}
.block-basket {
  display: grid;
  grid-template-columns: 68% 30%;
  margin: 50px 0;
  gap: 20px;
}
.block-basket-cost-info{
  margin: 0 50px;
}
.block-basket-cost{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.block-basket-total{
  font-weight: 800;
}

/* changer quantyty buttons */
.changer-quantity-block{
  display: flex;
  flex-direction: column;
  /* border: 3px solid rgb(67, 37, 219); */
}
/* .changer-quantity-price{
  border: 3px solid rgb(31, 156, 58);
} */
.changer-quantity{
  display: grid;
  grid-template-columns: 20px 40px 20px;
  /* border: 3px solid rgb(169, 10, 116); */
  margin: auto;
  margin-top: 10px;
}
.block-basket-side {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    6px 7px 17px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 13px -7px #000000, 6px 7px 17px 5px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
.block-basket-right-title {
  margin: 30px;
  text-transform: uppercase;
    /* border: 3px solid rgb(37, 192, 219); */
}
.block-basket-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid grey;
  margin-top: 30px;
  padding: 20px;
}
.block-basket-image {
  height: 80px;
  /* border: 3px solid rgb(37, 192, 219); */

}
.block-basket-info {
  /* border: 3px solid rgb(37, 192, 219); */
  text-align: left;
  line-height: 25px;
}
.block-basket-delete{
  display: flex;

}
.block-basket-label-block {
  position: absolute;
}
.block-basket-label {
  position: relative;
  z-index: 1;
  top: -1.30rem;
  left: 4rem;
}
.block-basket-delete{
  /* border: 2px solid red; */
  /* justify-content: center; */
  display: flex;
  margin: auto;
}
.delete-simbol{
 margin: auto;
}
.block-basket-delete-simbol{
  width: 17px;
  height: 17px;
  margin: 5px;
  /* border: 2px solid rgb(176, 179, 179); */
}

.block-basket-email {
  position: relative;
  height: 2.5rem;
  width: 18.75rem;
  border-radius: 0.31rem;
  border: 2px solid rgb(176, 179, 179);
}
@media(max-width: 768px) {
  .block-basket{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width: 560px) {
  .block-basket-products{
    display: flex;
    flex-direction: column;
  }
}
