.mens-clothes{
    /* border: 5px solid rgb(39, 39, 204); */
    /* background-color: rgb(176, 241, 241); */
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    border-radius: 50px;
    background-color: rgb(219, 217, 217);
}
.single-product-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;
    flex-wrap: wrap; */
    gap: 50px;
}
